{% extends "./layouts/base.njk" %}
{% block content %}

  <div class="container">

    <h1>test adasdfasdfa</h1>
    {% if isMain %}
      <h3>true - это главная</h3>
      <p>{{ asdf }}</p>
      <p><img src="assets/images/icon-success.svg" width="100"></p>
    {% else %}
      I am good! 333
    {% endif %}

    <p><a href="contacts.html">Контакты</a></p>

    <h2>
      Фотографии
    </h2>

    <div class="photos" id="lightgallery">
      <a href="assets/images/pic.jpg" class="photos__item"><img src="assets/images/pic.jpg"></a>
      <a href="assets/images/pic.jpg" class="photos__item"><img src="assets/images/pic.jpg"></a>
      <a href="assets/images/pic.jpg" class="photos__item"><img src="assets/images/pic.jpg"></a>
      <a href="assets/images/pic.jpg" class="photos__item"><img src="assets/images/pic.jpg"></a>
      <a href="assets/images/pic.jpg" class="photos__item"><img src="assets/images/pic.jpg"></a>
      <a href="assets/images/pic.jpg" class="photos__item"><img src="assets/images/pic.jpg"></a>
      <a href="assets/images/pic.jpg" class="photos__item"><img src="assets/images/pic.jpg"></a>
      <a href="assets/images/pic.jpg" class="photos__item"><img src="assets/images/pic.jpg"></a>
    </div>

  </div>

{% endblock %}
