// colors
$color-blue: #2f4881;
$color-light: #ebf1f7;
$color-gray: #56606a;
$color-green: #006a5a;

// breakpoints
$desktop: 1024px;

// fonts
$font-primary: "Montserrat", Arial, Helvetica, sans-serif;
