<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Build static site</title>
    {# <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link
          href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&display=swap"
          rel="stylesheet">

        <link rel="stylesheet" href="/lightgallery/css/lightgallery.min.css"> #}
    <link rel="stylesheet" href="assets/style.css">
  </head>
  <body>

    <header class="header">
      <div class="container">
        header
      </div>
    </header>

    <main>
      {% block content %}
        Контент не загружен..
      {% endblock %}
    </main>

    <footer class="footer">
      <div class="container">
        &copy; 2022 - footer
      </div>
    </footer>

    <script src="assets/bundle.js"></script>
  </body>
</html>
